blockquote {
  background: lighten(map-get($foundation-palette, secondary), 15%);
  margin: 0;
  padding: 1rem 0rem 1.9rem;
  border-left: none;
  border-top: 1px solid map-get($foundation-palette, secondary);
}