.card {
  margin-bottom: 1.5rem;
  border-bottom: 1px dotted map-get($foundation-palette, secondary);
  blockquote {
    padding: 0rem 0.5rem;
    background: transparent;
    margin-top: 1rem;
    border-left: 1px solid map-get($foundation-palette, secondary);
  }
  .media-object-section {
    h4 {
      margin-bottom: .18rem;
      padding: 0;
      line-height: 2.2rem;
    }
  }
  h4 {
    margin: 0;
  }
  h6 {
    margin-bottom: .08rem;
  }
  .card-section {
    margin-top: 0.45rem;
  }
  .card-desc {
    margin-bottom: 1rem;
  }
  .button {
    margin-bottom: 1.75rem;
    border-radius: 3px;
  }
  .thumbnail {
    float: left;
    padding: 0 15px 0 0;
  }
  .button-group {
    margin-bottom: 1.4rem;
  }
  .media-object-section {
    margin: 1rem 0 3rem;
  }
}