.card {
  margin-bottom: 0.5rem;
  border-bottom: 1px dotted map-get($foundation-palette, secondary);
  .media-object-section {
    h4 {
      margin-bottom: .18rem;
      padding: 0;
      line-height: 2.2rem;
    }
  }
  h4 {
    margin: 0;
  }
  h6 {
    margin-bottom: .08rem;
  }
  .card-section {
    margin-top: 0.45rem;
  }
  .card-desc {
    margin-bottom: 1rem;
  }
  .button {
    margin-bottom: 1.75rem;
    margin-right: rem-calc(10);
    border-radius: 3px;
  }
  .thumbnail {
    img {
      max-width: 90px;
    }
  }
  .button-group {
    margin: 1.05rem 0;
    display: flex;
  }
  .media-object-section {
    margin-bottom: .2rem;
  }
}

label.select-all-mobile {
  margin-top: 1rem;
  margin-left: .25rem;
}

section.cards {
  >div:first-child {
    margin-top: 0.25rem;
  }
}

blockquote {
  padding: 0;
  background: transparent;
  margin-top: 1rem;
  border-left: none;
}

.ploymer {
  /* basic css */
  input[type=checkbox] {
    display: none;
  }
  label,
  p {
    padding-left: 50px;
  }
  #check-awesome {
    position: relative;
  }
  /* checkbox css */
  label {
    cursor: pointer;
  }
  label span {
    display: block;
    position: absolute;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  label .circle {
    background: #FFF;
    left: -30px;
    top: -30px;
    height: 80px;
    width: 80px;
    z-index: -1;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  label .box {
    border: 2px solid #000;
    height: 20px;
    width: 20px;
    z-index: 888;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  label .check {
    top: -7px;
    left: 6px;
    width: 12px;
    height: 24px;
    border: 2px solid #0f9d58;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 888;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  /* handling click events */
  /* when checkbox is checked */
  label .circle {
    -webkit-animation: growCircle 0.3s ease;
    -moz-animation: growCircle 0.3s ease;
    animation: growCircle 0.3s ease;
  }
  input[type=checkbox]:checked~label .box {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
  input[type=checkbox]:checked~label .check {
    opacity: 1;
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
  }
  /* bubble animation */
  @-webkit-keyframes growCircle {
    0%,
    100% {
      -webkit-transform: scale(0);
    }
    70% {
      background: #DDD;
      -webkit-transform: scale(1.25);
    }
  }
  @-moz-keyframes growCircle {
    0%,
    100% {
      -moz-transform: scale(0);
    }
    70% {
      background: #DDD;
      -moz-transform: scale(1.25);
    }
  }
  @keyframes growCircle {
    0%,
    100% {
      transform: scale(0);
    }
    70% {
      background: #DDD;
      transform: scale(1.25);
    }
  }
}