.card-section {
  .card {
    color: $dark-gray;
    .card-section div {
      margin: 7px;
      text-align: center;
    }
    i {
      color: map-get($foundation-palette, primary);
      margin-left: .5rem;
      font-size: 1rem;
    }
    h5 {
      margin-top: .6rem;
      font-weight: $global-weight-bold;
      text-align: center;
    }
    img {
      width: 100%;
    }
  }
}