.cards {
  color: $dark-gray;
  margin-bottom: 2.5rem;
  &.column {
    .card {
      border-bottom: 1px dotted map-get($foundation-palette, secondary);
    }
    .card-section {
      margin-bottom: 1.95rem;
    }
  }
  .card-section div {
    margin: 7px;
    text-align: center;
  }
  i {
    color: map-get($foundation-palette, primary);
    margin-left: .5rem;
    font-size: 1rem;
  }
  h5 {
    margin-top: .6rem;
    font-weight: $global-weight-bold;
    text-align: center;
  }
  img {
    width: 100%;
  }
}