//Right Container
.right-container {
    margin-left: $desktop-cont-margin;
    padding-top: 51px;
}

.left-off-canvas-menu {
    margin-top: 51px;
}

.row {
    margin: 0 auto;
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
}