form {
  background: #fafafa;
  padding: 1.25rem 2rem 2rem;
  border: 1px solid #ddd;
}

[name="RegisterBTN"] {
  margin-top: 1.2rem;
  border-radius: 3px;
}

input {
  resize: none;
}

.customCheckbox {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.customCheckbox:after {
  bottom: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #666;
  border-width: 0 2px 2px 0;
}

input:checked~.customCheckbox:after,
input:checked~.customRadio:after {
  display: block;
}

.ShowCheckbox {
  margin-bottom: 0.75rem;
}

input[name="ShowKey"],
input[type="checkbox"],
input[name="selectAll"],
input[type="radio"] {
  position: absolute;
  z-index: -999;
  opacity: 0;
}

input[name="ShowKey"]:after,
input[type="checkbox"]:after,
input[name="selectAll"]:after,
input[type="radio"]:after {
  position: absolute;
  display: none;
  content: '';
}

.select-event {
  margin-left: 1.65rem;
}

.customRadio {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  margin-bottom: 0.5rem;
  margin-right: 1.55556rem;
  border: 1px solid #ccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50%;
}

[type='checkbox']+label,
[type='radio']+label {
  display: inline-block;
  margin-left: 1.55556rem;
  margin-right: 1.11111rem;
  margin-bottom: 0.5rem;
  vertical-align: baseline;
  line-height: 1.45rem;
  font-size: 1.1rem;
}

input:checked~.customCheckbox,
input:checked~.customRadio {
  background: #f0f0f0;
}

label {
  color: $medium-gray;
  font-size: 1.2rem;
  padding-left: 0;
  &.customCheckboxControl {
    line-height: 1.45rem;
    font-size: 1rem;
  }
}

.input-group-label {
  background: transparent;
  border: none;
}