form {
  background: #fafafa;
  padding: 1.5rem 2rem 2rem;
  border: 1px solid #ddd;
  blockquote {
    padding: 0rem 0.5rem;
    background: transparent;
    margin-top: 1rem;
    border-left: 1px solid map-get($foundation-palette, secondary);
  }
}

input[type="checkbox"],
label.select-all {
  cursor: pointer;
}

[name="RegisterBTN"] {
  margin-top: 1.2rem;
  border-radius: 3px;
}

.select-event {
  margin-left: 0.75rem;
}

.ShowCheckbox {
  padding-bottom: 1.1rem;
  .input-control {
    margin: 0;
  }
}

.udf-cont {
  margin: .625rem 0;
}

.form-text {
  color: #C8C8C8;
}

option {
  padding: 0;
}

fieldset {
  border: none;
}