form {
  background: #fafafa;
  padding: 1.5rem 2rem 2rem;
  border: 1px solid #ddd;
  blockquote {
    padding: 0rem 0.5rem;
    background: transparent;
    margin-top: 1rem;
    border-left: 1px solid map-get($foundation-palette, secondary);
  }
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  box-shadow: none !important;
  font-size: 1.075rem;
}

input[type="checkbox"],
input[type="radio"],
label.select-all {
  cursor: pointer;
}

[inputtype="XR"],
[inputtype="1"] {}

[name="RegisterBTN"] {
  margin-top: 1.2rem;
  border-radius: 3px;
}

.select-event {
  margin-left: 0.75rem;
}

.select-all {
  position: absolute;
  right: 0;
}

.ShowCheckbox {
  padding-bottom: 1.1rem;
  .input-control {
    margin: 0;
  }
}

.udf-cont {
  margin: .625rem 0;
}

.form-text {
  color: #C8C8C8;
}

option {
  padding: 0;
}

fieldset {
  border: none;
}