form {
  background: #fafafa;
  padding: 0.15rem 2rem 2rem;
  border: 1px solid #ddd;
  blockquote {
    padding: 0rem 0.5rem;
    background: transparent;
    margin-top: 1rem;
    border-left: 1px solid map-get($foundation-palette, secondary);
  }
}

[name="RegisterBTN"] {
  margin-top: 1.2rem;
  border-radius: 3px;
}

.select-event {
  margin-left: 0.75rem;
}

.ShowCheckbox {
  margin-bottom: 1.2rem;
}

.udf-cont{
  margin: .625rem 0;
}

.form-text{
  color: #C8C8C8;
}

option{
  padding: 0;
}

fieldset{
  border: none;
}