section {
  margin: 1.5rem 0;
  &.cards {
    border-top: 0;
    margin-top: 0;
  }
  &.buttons {
    margin-bottom: 0;
  }
  img.banner {
    width: 100%;
  }
  &.form {
    margin-top: 2.183rem;
  }
}