ul.tabs {
    background: #fafafa;
}

.tabs-panel {
    padding: 1rem 0;
}

.tabs-content {
    border: 0;
    &.vertical {
        border: 0;
        padding-left: 1.25rem;
        .tabs-panel {
            padding-top: 0;
            padding: 0;
            h4 {
                font-size: 1.075rem;
                margin-bottom: .12rem;
            }
            p {
                margin-bottom: 1.5rem;
                padding-right: .6rem;
            }
        }
    }
}

.tabs-title {
    a {
        color: $dark-gray;
        font-size: 1rem;
        font-weight: 600;
    }
    &.is-active {
        a {
            background: rgba(0, 0, 0, 0.05);
            color: map-get($foundation-palette, primary);
        }
    }
}