<section>
  <ul class="tabs" data-tabs id="show-tabs">
    <li class="tabs-title is-active"><a href="#cardsLive" aria-selected="true">Live</a></li>
    <li class="tabs-title"><a href="#cardsUpcoming">Upcoming</a></li>
    <li class="tabs-title"><a href="#cardsOnDemand">On Demand</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="show-tabs">
    <div class="tabs-panel is-active row small-up-1" id="cardsLive">
    </div>
    <div class="tabs-panel" id="cardsUpcoming">
      <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
    </div>
    <div class="tabs-panel" id="cardsOnDemand">
      <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
    </div>
  </div>
</section>