<section>
  <ul class="tabs" data-tabs id="show-tabs">
    <li class="tabs-title is-active"><a href="#cardsLive" aria-selected="true">Live</a></li>
    <li class="tabs-title"><a href="#cardsUpcoming">Upcoming</a></li>
    <li class="tabs-title"><a href="#cardsOnDemand">On Demand</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="show-tabs">
    <div class="tabs-panel is-active row small-up-1" data-live></div>
    <div class="tabs-panel row small-up-1" data-upcoming></div>
    <div class="tabs-panel row small-up-1" data-ondemand></div>
  </div>
</section>