<section class="buttons">
  <div class="button-group" data-event-group>
    <a class="button is-active" data-status="live">Live</a>
    <a class="button" data-status="upcoming">Upcoming</a>
    <a class="button" data-status="ondemand">On Demand</a>
  </div>
  <blockquote>
    <div class="small-12 custom-checkbox">
      <label class="customCheckboxControl customCheckboxTick">
          <input type="checkbox" name="selectAll">
          <div class="customCheckbox"></div>
          <span class="select-event">Select all events below or check individual events you would like to register for.</span>
      </label>
    </div>
  </blockquote>
</section>
<section class="cards">
  <div class="column row small-up-1" id="cards"></div>
</section>