<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SHARING META TAGS -->
  <meta name="title" content="Multi Registration Template" />
  <meta property="og:title" content="Multi Registration Template" />

  <meta name="description" content="DESCRIPTION OF PAGE ENDED W/ A PERIOD." />
  <meta property="og:description" content="DESCRIPTION OF PAGE ENDED W/ A PERIOD." />

  <meta name="url" content="URL OF MULTI REG PAGE" />
  <meta property="og:url" content="URL OF MULTI REG PAGE" />

  <link rel="image_src" href="https://presentations.inxpo.com/customvts/Registration/new-multi-registration-template-no-password/images/CompanyLogo_Header_980x150.png">
  <meta property="og:image" content="https://presentations.inxpo.com/customvts/Registration/new-multi-registration-template-no-password/images/CompanyLogo_Header_980x150.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="980">
  <meta property="og:image:height" content="150">

  <!-- TWITTER CARD -->
  <meta name="twitter:title" content="Multi Registration Template">
  <meta name="twitter:description" content="DESCRIPTION OF PAGE ENDED W/ A PERIOD.">
  <meta name="twitter:image" content="https://presentations.inxpo.com/customvts/Registration/new-multi-registration-template-no-password/images/CompanyLogo_Header_980x150.png">
  <meta name="twitter:card" content="summary_large_image">
  <!-- END TWITTER CARD -->
  <!-- END SHARING META TAGS -->

  <link rel="icon" href="//www.inxpo.com/favicon1.ico">
  <title>MultiReg</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <!--<link rel='stylesheet' type='text/css' href="https://presentations.inxpo.com/SharedContent/multi/app.css">-->
  <link href="{{root}}assets/css/app.css" rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="full-height">
    {{> hero}} {{> body}}
  </div>
  {{> footer}} {{> user-config}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
  <script src="https://vts.inxpo.com/cfr/scripts/XBrowser.js"></script>
  <script src="https://vts.inxpo.com/cfr/scripts/ClientFormLib.js"></script>
  <script src="https://vts.inxpo.com/cfr/scripts/InxpoAjax.js"></script>
  <script src="https://vts.inxpo.com/cfr/scripts/DisablePage.js"></script>
  <script src="{{root}}assets/js/app.js "></script>
  <!--<script src="https://presentations.inxpo.com/SharedContent/multi/app.js"></script>-->
</body>

</html>