<!-- TERMS & CONDITIONS SECTION -->
<section class="bottom-text">
  <h5>Terms & Conditions</h5>
  <!--this copy will appear between above the footer but below the form/show area-->
  <p>Nam molestie scelerisque sapien, ut accumsan turpis euismod a. Vivamus sed mi augue. Fusce lacus magna, commodo ac dictum in, aliquet et lectus. Maecenas est sapien, rhoncus sed mattis vitae, aliquam nec justo. Vestibulum quis aliquam eros, et blandit
    odio. Nullam scelerisque velit et tortor finibus semper. Curabitur sagittis iaculis diam non mollis. Quisque at sollicitudin est.</p>
</section>
<!-- END TERMS & CONDITIONS SECTION -->