<!-- FOOTER SECTION -->
<footer class="footer text-center">
  <div class="row">
    <div class="columns small-12">
      <!--the year is generated dynamically. only remove if your client does not want this copy in the footer-->
      <a href="https://www.inxpo.com" title="Visit us at INXPO.com">© Copyright <span id="dynamicYear"></span> INXPO, Inc. All rights reserved.</a>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <!--footer links-->
      <a href="https://www.inxpo.com/privacy/InXpo_Privacy_Policy.pdf" target="_blank">Privacy Policy</a>
      <a href="https://presentations.inxpo.com/SharedContent/HTML/Chat_Troubleshooting/Chat_Troubleshooting.htm" target="_blank">Port Troubleshooting</a>
      <a href="https://vts.inxpo.com/scripts/Server.nxp?LASCmd=AI:4;F:APIUTILS!10" target="_blank">System Check</a>
      <a href="https://presentations.inxpo.com/SharedContent/HTML/VX/TechnicalRequirements.html" target="_blank">Technical Requirements</a>
      <a href="https://www.inxpo.com/terms/INXPO_Terms_of_Use.pdf" target="_blank">Terms of Use</a>
      <a href="#" target="_blank">Contact Us</a>
      <!--end footer links-->
    </div>
  </div>
</footer>
<!-- END FOOTER SECTION -->  