<footer class="footer">
  <div class="row">
    <div class="columns small-4">
      <a href="http://www.inxpo.com" title="Visit us at INXPO.com">© Copyright <span id="dynamicYear">2017</span> INXPO, Inc. All rights reserved.</a>
    </div>
    <div class="columns text-right">
      <a href="http://www.inxpo.com/privacy/InXpo_Privacy_Policy.pdf" target="_blank">Privacy Policy</a>
      <a href="http://www.inxpo.com/terms/INXPO_Terms_of_Use.pdf" target="_blank">Terms of Use</a>
      <a href="#" target="_blank">Contact Us</a>
    </div>
  </div>
</footer>