<section>
  <div class="row">
    <div class="columns small-12">
      <img src="http://placehold.it/1100X150" alt="">
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="columns small-12">
      <h1>Check Out This Event</h1>
    </div>
    <div class="small-12 medium-6 large-4 columns">Single-origin coffee direct trade banh mi biodiesel. Bicycle rights heirloom scenester organic skateboard, messenger bag tbh kinfolk. Beard leggings kickstarter meditation, 90's man braid venmo poke. Pug tote bag health goth, pabst tbh 8-bit tumblr
      fixie +1 celiac. Tumeric dreamcatcher vexillologist semiotics glossier. Skateboard beard poke seitan cred, normcore street art snackwave. Listicle post-ironic truffaut, salvia coloring book gochujang sriracha activated charcoal chillwave brunch
      beard selfies pop-up cray.
    </div>
    <div class="small-12 medium-6 large-8 columns">Activated charcoal messenger bag fanny pack fixie, pitchfork try-hard portland fap leggings yr sriracha green juice. Tattooed authentic 90's jianbing, intelligentsia YOLO cardigan you probably haven't heard of them deep v listicle kitsch disrupt sartorial
      woke pok pok. Ramps la croix 8-bit pug pabst. Art party chicharrones listicle, post-ironic raclette shoreditch messenger bag gentrify forage offal semiotics. Locavore copper mug trust fund brunch kinfolk. Dreamcatcher coloring book kickstarter chia,
      90's stumptown banh mi kale chips whatever quinoa art party fap. Truffaut squid polaroid, tumeric bicycle rights vaporware XOXO ennui PBR&B tacos cray helvetica yuccie shoreditch.
    </div>
  </div>
</section>