<section class="header-img">
  <div class="row">
    <div class="columns small-12">
      <!--replace banner image url-->
      <img class="banner" src="https://presentations.inxpo.com/customvts/Registration/new-multi-registration-template-no-password/images/CompanyLogo_Header_980x150.png" alt="">
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="columns small-12">
      <!--title of the show-->
      <h1>Multi-Registration Template</h1>
    </div>
    <!--description of the show-->
    <div class="small-12 columns">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam leo, vulputate ut neque quis, bibendum venenatis elit. Duis scelerisque risus felis. Aliquam commodo neque at leo consequat, sollicitudin facilisis massa finibus. Fusce in facilisis
      nibh, eu tempus est. Vestibulum sodales lacus orci, sit amet hendrerit ipsum sollicitudin faucibus. Donec eu ex eu arcu ultrices viverra at eu velit. Cras condimentum ultrices bibendum. Nullam in sollicitudin sem, ut mattis urna. Duis hendrerit
      tincidunt dolor, ut condimentum nisl laoreet eu. Mauris tortor nisi, commodo in risus quis, tincidunt mattis enim. Aliquam at tempor lacus, auctor elementum nisi. Fusce neque ipsum, fringilla quis dolor sit amet, convallis placerat libero. Nunc
      mollis elit quis eros dapibus, vitae iaculis eros suscipit. Sed vulputate placerat purus, nec ultricies nisi imperdiet suscipit. Donec et pharetra nulla. Maecenas et laoreet purus. Ut condimentum magna eu posuere sodales. Nam imperdiet tincidunt
      felis non semper. In imperdiet sapien at nibh viverra pulvinar. Maecenas lobortis convallis laoreet.
    </div>
  </div>
</section>