<div class="reveal" id="successModal" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true"><i class="fa fa-times-thin fa-2x" aria-hidden="true"></i></span>
  </button>
  <h4>Thank you for registering!</h4>
  <p class="lead">In the next few minutes, you should receive a confirmation email with your login information for each event you registered for. If you do not receive a confirmation email in 15 minutes, please email <a href="mailto:eventsupport@inxpo.com">support</a>.</p>
</div>

